.el-container {
  height: 100%;
}

.el-header {
  background-color: #38383f;
  color: #fff;
  text-align: center;
  line-height: 60px;
  padding: 0;
  height: 30px;
}

.el-aside {
  text-align: center;
  line-height: 200px;
  overflow: hidden;
}

.el-main {
  padding: 10px;
  overflow: hidden;
}

@expand-width: 150px;
@fold-width: 64px;

.aside-expand {
  width: @expand-width;
  animation: changeStyleExpand 0.5s;
}
@keyframes changeStyleExpand {
  0% {
    width: @fold-width;
  }
  100% {
    width: @expand-width;
  }
}

.aside-fold {
  width: @fold-width;
  animation: changeStyleFold 0.5s;
}
@keyframes changeStyleFold {
  0% {
    width: @expand-width;
  }
  100% {
    width: @fold-width;
  }
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
