.el-container {
  height: 100%;
}

.el-header {
  background-color: #38383f;
  color: #fff;
  text-align: center;
  line-height: 60px;
  padding: 0;
  height: 30px;
}

.el-aside {
  background-color: #666672;
  text-align: center;
  line-height: 200px;
  overflow: hidden;
}

.el-main {
  padding: 10px;
  overflow: hidden;
}

// 左侧菜单折叠展开过渡
@expand-width: 150px;
@fold-width: 64px;

.aside-expand {
  width: @expand-width;
  animation: changeStyleExpand 0.5s;
}
@keyframes changeStyleExpand {
  0% {
    width: @fold-width;
  }
  100% {
    width: @expand-width;
  }
}

.aside-fold {
  width: @fold-width;
  animation: changeStyleFold 0.5s;
}
@keyframes changeStyleFold {
  0% {
    width: @expand-width;
  }
  100% {
    width: @fold-width;
  }
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

// .slide-fade-enter-active {
//   transition-property: all;
//   transition-duration: 0.05s;

//   // transition: all 0.2s;
// }

// .slide-fade-leave-active {
//   transition-property: all;
//   transition-duration: 0.05s;
// }

.v-enter-active {
  animation: fadeIn 0.3s;
}
.v-leave-active {
  animation: backOutUp 0.3s;
}
