.title-bar {
  height: 100%;
  // 可拖动效果
  -webkit-app-region: drag;
  padding-left: 20px;
  // 垂直居中
  display: flex;
  align-items: center;
  font: 1.2em sans-serif;
}
.switch-button {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0;
  right: 200px;
  cursor: pointer;
}
